<!-- prettier-ignore -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/styles/main.css" />
    <script
      type="text/javascript"
      src="/static/scripts/socket.io.min.js"
      defer
    ></script>
    <script type="text/javascript" src="/static/scripts/main.js" defer></script>
  </head>
  <body>
    <main>
      <div id="connection-banner">
        <span class="not-connected">Not connected</span>
        <span class="connected">Connected</span>
      </div>
      <!-- Start page -->
      <div class="start_view">
        <p><span data-user-count>0</span> in der Lobby</p>
        <ul id="users"></ul>
        <form id="name">
          <input type="text" name="name" />
          <button type="submit">Name ändern</button>
        </form>
        <button type="button" id="start_game">Spiel starten</button>
      </div>
      <!-- Card selection -->
      <div class="card_selection_view">
        <button type="button" id="end_game">Spiel beenden</button>
        <button type="button" id="submit_card">Karte auswählen</button>
        <button type="button" id="finish_card_selection">
          Auswahl beenden
        </button>
        <form id="card_selection"></form>
        <p>Ausgewählte Karten:</p>
        <p id="selected_cards"></p>
      </div>
      <!-- Task selection -->
      <div class="task_selection_view">
        <button type="button" id="submit_task">Auftrag auswählen</button>
        <button type="button" id="finish_task_selection">
          Auswahl beenden
        </button>
        <form id="task_selection"></form>
      </div>
    </main>
  </body>
</html>
