<!-- prettier-ignore -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0"
    />
    <link rel="stylesheet" href="/static/styles/main.css" />
    <script
      type="text/javascript"
      src="/static/scripts/socket.io.min.js"
      defer
    ></script>
    <script type="text/javascript" src="/static/scripts/main.js" defer></script>
  </head>
  <body>
    <main>
      <div id="connection-banner">
        <span class="not-connected">Not connected</span>
        <span class="connected">Connected</span>
      </div>
      <!-- Start page -->
      <div class="start_view">
        <p><span data-user-count>0</span> in der Lobby</p>
        <ul id="users"></ul>
        <form id="name">
          <input type="text" name="name" />
          <button class="button" type="submit">Name ändern</button>
        </form>
        <button class="button" type="button" id="start_game">
          Spiel starten
        </button>
      </div>
      <!-- Card selection -->
      <div class="card_selection_view">
        <button type="button" class="button" id="end_game_card">
          Spiel abbrechen
        </button>
        <div class="card_deck">
          <h2>Deine Karten</h2>
          <p>Um Karten hinzu zu fügen, nutze die Eingabeleiste unten</p>
          <div class="selected_cards card_list"></div>
        </div>
        <form id="card_selection_form" class="card_selection_form">
          <div class="tab">
            <button type="submit" class="finish button">Auswahl beenden</button>
          </div>
        </form>
      </div>
      <!-- Task selection -->
      <div class="task_selection_view">
        <button type="button" class="button" id="end_game_task">
          Spiel abbrechen
        </button>
        <button type="button" class="button" id="back_to_card_selection">
          Zurück zur Kartenauswahl
        </button>
        <div class="card_deck">
          <h2>Deine Karten</h2>
          <div class="selected_cards card_list"></div>
        </div>
        <div class="card_deck tasks">
          <h2>Deine Aufgaben</h2>
          <div class="selected_tasks card_list"></div>
          <p>Um Aufgaben hinzu zu fügen, nutze die Eingabeleiste unten</p>
        </div>
        <form id="task_selection_form" class="card_selection_form">
          <div class="tab">
            <button type="submit" class="add button">Karte hinzufügen</button>
            <button
              type="button"
              class="finish button"
              id="finish_task_selection"
            >
              Auswahl beenden
            </button>
          </div>
        </form>
      </div>
      <!-- Display results -->
      <div class="display_result_view">
        <p>Ergebnis:</p>
        <p id="results"></p>
      </div>
    </main>
  </body>
</html>
