:root {
    --card-trump: black;
    --card-red: red;
    --card-green: green;
    --card-blue: blue;
    --card-yellow: yellow;
    --card-purple: purple;
    --card-color--1: var(--card-trump);
    --card-color-0: var(--card-red);
    --card-color-1: var(--card-green);
    --card-color-2: var(--card-blue);
    --card-color-3: var(--card-yellow);
    --card-color-4: var(--card-purple);
}

main .card_selection_view, main .task_selection_view {
    display: none;
}

main.card_selection .start_view {
    display: none;
}

main.card_selection .card_selection_view {
    display: block;
}

main.task_selection .start_view, .card_selection_view {
    display: none;
}

main.task_selection .task_selection_view {
    display: block;
}

#connection-banner {
    position: fixed;
    top: 1em;
    left: 1em;
    right: 1em;
    background: red;
    color: white;
    padding: 1em;
    border-radius: 5px;
    transition: 0.5s opacity 1s, 0.3s background-color;
    pointer-events: none;
}

#connection-banner .connected {
    display: none;
}

#connection-banner.connected {
    background: green;
    opacity: 0;
}

#connection-banner.connected .connected {
    display: block;
}

#connection-banner.connected .not-connected {
    display: none;
}

/* Hide input boxes */
.card_number,
.card_color {
    height: 0;
    width: 0;
    visibility: hidden;
}

.card_number + label,
.card_color + label {
    cursor: pointer;
    padding: 0.5em 1em;
    border: 2px solid gray;
    border-radius: 2px;
    display: inline-block;
}

.card_number:disabled + label,
.card_color:disabled + label {
    pointer-events: none;
    opacity: 0.5;
    filter: grayscale(1);
}

.card_color + label {
    color: transparent;
}

.card_number + label:hover,
.card_color + label:hover,
.card_number:focus + label,
.card_color:focus + label {
    border-color: #333;
}

.card_number:checked + label,
.card_color:checked  + label {
    border-color: black;
}

label[for="card_color_-1"] {
    background-color: var(--card-color--1);
}

label[for="card_color_0"] {
    background-color: var(--card-color-0);
}

label[for="card_color_1"] {
    background-color: var(--card-color-1);
}

label[for="card_color_2"] {
    background-color: var(--card-color-2);
}

label[for="card_color_3"] {
    background-color: var(--card-color-3);
}

label[for="card_color_4"] {
    background-color: var(--card-color-4);
}
